<section class="section about" id="about">
  <div class="container">
    <div class="contact-card">
    <div class="row">
      <figure class="about-banner text-center">
        <img
          src="../../../assets/images/header-img.svg"


          alt="no-image"
          class="img-cover"
        />
      </figure>

      <div class="col-md-8"></div>
    </div>

    <div class="card-content">
      <p class="section-subtitle">I'm a 3rd Year B.tech Student</p>

      <div class="card-title">


        Welcome to my portfolio website! My name is Rohit Roy and I am a third-year student pursuing a Bachelor's degree in Computer Science and
        Engineering (CSE) from VIT, Bhopal. I am passionate about the field of computer science and am eager to learn more about the latest
        developments in technology and how it can be used to solve problems and
        I am open to any kind of opportunities in the field of computer science
        and open to learning and growing. Thank you for visiting my portfolio
        website!
</div>
      <div class="text-center">
     <a href="#portfolio"><button  class="btn btn-danger ">View Projects</button></a>
    </div>
    </div>
  </div>
</div>
</section>
