<section class="hero" id="home">
  <div class="container">
    <div class="hero-banner">
      <img
        src="../../../assets/home.jpg"
        width="800"
        height="864"
        loading="lazy"
        alt="no-img available"
        class="img-cover1"
      />

      <div class="elem elem-1">
        <p class="elem-title">3rd</p>

        <p class="elem-text">Year B.tech CSE</p>
      </div>
    </div>

    <div class="section-text">
      <h2 class="hero-title">
        <span>Hello I'm</span>
        <h1 style="color: hsl(7, 96%, 61%);">Rohit Roy</h1>
        <p class="h2 section-title"></p>
        Full Stack Developer
      </h2>
    </div>
<div class="text-center">
    <a href="../../assets/Rohit.pdf"> <button  class="btn btn-primary ">Download CV</button></a>
        <a href="#contact"> <button class="btn btn-danger ">Contact</button></a>
      </div>

  </div>
</section>
